#boxServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  color: white;
  background-color: #1f2937;
}

.ourServices {
  font-size: 50px;
  color: white;
  margin-bottom: 40px;
  margin-top: 40px;
}

.categoryButtons {
  display: flex;
}

.buttonServices {
  width: 175px;
  border-radius: 4px;
  height: 40px;
  border: none;
  background-color: #111827;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.5s;
}

.buttonServices:hover {
  width: 200px;
  height: 45px;
}

.vehiculo {
  margin-bottom: 30px;
  font-size: 40px;
  color: white;
  justify-self: center;
}

.boxMotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.service {
  width: 800px;
  padding: 30px;
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 2;
  border-radius: 15px;
  padding: 40px;
  background-color: #111827;
}

.boxVehiculos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 850px) {
  .service {
    font-size: 20px;
    width: 500px;
  }
  .vehiculo {
    font-size: 30px;
  }
  .ourServices {
    font-size: 35px;
  }
}

@media (max-width: 550px) {
  .ourServices {
    font-size: 30px;
  }
  .vehiculo {
    font-size: 25px;
  }
  .service {
    width: 350px;
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .service {
    width: 300px;
  }
  .categoryButtons {
    flex-direction: column;
  }
}
