#boxFooter {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 550px) {
  .copyRight {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .copyRight {
    font-size: 10px;
  }
}
